.m-banner{
	width: 750upx;
	height: 400upx;
}
.title1{
	font-size: 40upx;
	line-height: 80upx;
	font-weight: 700;
}
.intro {
		width: 95%;
		border: 2px solid grey;
		padding: 10px;
		margin: 0 auto;
		box-sizing: border-box;
		overflow: hidden;
	}
 
	.intro .introText {
		text-align: justify;
		position: relative;
		display: block;
	}
 
	.intro .introText span {
		font-size: 14px;
		color: #627081;
	}
 
	.intro .unfold {
		position: absolute;
		right: 0;
		bottom: 0;
		opacity: 1;
	}
 
	.intro .unfold span {
		color: #2878ff;
		cursor: pointer;
		font-size: 30rpx;
	}
.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.image-1 {
		flex-shrink: 0;
		margin-right: 10px;
		width: 600upx;
		height: 300upx;
		border-radius: 6px;
		overflow: hidden;
		border: 1px #f5f5f5 solid;
		
	}
.m-video{
		.u-video{
			width: 650upx;
			height: 312upx;
			
			 margin: 0 auto;
			display: flex;
			
		}
	}
.m-video1{
		.u-video1{
			width: 600upx;
			height: 300upx;
			text-align: center;
			 margin: 0 auto;
			display: flex;
			
		}
	}

.g-bd{
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	// margin:20upx 0;
	background-color: #fff;
}
.m-bd{
	padding: 10upx 0;
	.title{
		width: 400upx;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		border-bottom: 1upx solid #d4d4d4;
		.u-tit{
			font-size: 40upx;
			line-height: 80upx;
			font-weight: 700;
		}
		.u-stit{
			font-size: 24upx;
			line-height: 40upx;
			color: #ccc;
		}
		.u-line{
			width: 160upx;
			text-indent: -9999upx;
			position: absolute;
			bottom:-4upx;
			height: 8upx;
			background-color: #f00;
		}
	}
	.i-about{
		padding: 40upx 35upx;
		display: flex;
		
		flex-direction: column;
		border-bottom: 1upx solid #d4d4d4;
		.img-about{
			width: 100%;
			height: 372upx;
		}
		.about-con{
			font-size: 32upx;
			text-indent: 2em;
			padding: 20upx 0;
			line-height: 50upx;
			
			    /* 允许在单词内换行。如果到一行末尾长单词没有结束会截断单词 拼接在下一行 */
			    word-break: break-all;
			    /* 在长单词或 URL 地址内部进行换行。 在一行末尾处遇到长单词会自动换行去下一行展示 */
			    word-wrap: break-word;
		}
	}
	.btn-more{
		width: 100%;
		height: 80upx;
		line-height: 80upx;
		font-size: 32upx;
		color: #fff;
		text-align: center;
		background-color: #f00;
		border-radius: 10upx;
        
	}
	.btn-more1{
		width: 50%;
		height: 80upx;
		line-height: 80upx;
		font-size: 32upx;
		color: #ffffff;
		text-align: center;
		background-color: #00aaff;
		border-radius: 30upx;
	    margin-left: 25%;
	}
	.g-product{
		border-bottom: 1upx solid #d4d4d4;
	}
	.i-product{
		padding: 40upx 35upx;
		display: flex;
		flex-direction: row;
		.pro-img{
			display: flex;
			justify-content: start;
			line-height: 64upx;
			margin-right: 40upx;
			image{
				width: 64upx;
				height: 64upx;
			}
		}
		.pro-con{
			display: flex;
			flex-direction: column;
			.pro-tit{
				font-size: 40upx;
				line-height: 64upx;
			}
			.pro-desc{
				padding: 20upx 0;
				font-size: 32upx;
				line-height: 50upx;
				color: #9d9d9d;
			}
			.btn-detail{
				color: #f00;
			}
		}
	}
	.g-service{
		padding: 40upx 35upx;
		border-bottom: 1upx solid #d4d4d4;
	}
	.i-service{
		width: 100%;
		height: 520upx;
		position: relative;
		margin-bottom: 20upx;
		.img-case{
			width: 680upx;
			height: 520upx;
		}
		.u-mask{
			position: absolute;
			top:0;
			left:0;
			padding: 0 50upx;
			width: 680upx;
			height: 520upx;
			background-color: rgba(0,0,0,0.6);
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: #fff;
			.name{
				font-size: 36upx;
				text-align: center;
				line-height: 100upx;
			}
			.cont{
				font-size: 28upx;
				text-indent: 2em;
			}
			text{
				color: #f00;
				font-weight: 700;
			}
		}
	}
	.g-news{
		padding: 40upx 35upx;
		border-bottom: 1px solid #d4d4d4;
		.i-news{
			width: 680upx;
		}
		.tit{
			line-height: 80upx;
			text-align: center;
			font-size: 32upx;
			font-weight: 700;
		}
		.img-news{
			margin: 20upx 0;
			image{
				width: 680upx;
				height: 454upx;
			}
		}
	}
	.i-env{
		margin: 40upx 35upx;
		width: 680upx;
		display: flex;
		flex-direction: column;
		.img-env{
			margin: 20upx 0;
			image{
				width: 680upx;
				height: 680upx;
			}
		}
	}
}